
name: Testing Workflows

on:
  workflow_dispatch:
    inputs:
      someInput:
        type: boolean
        required: false
        description: Executar job2?
    
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo job1

  job2:
    runs-on: ubuntu-latest
    if: ${{ inputs.someInput }}
    needs: job1
    steps:
      - run: echo job2

  job3:
    runs-on: ubuntu-latest
    steps:
      - run: echo job3

  job4:
    runs-on: ubuntu-latest
    needs: [job1, job3]
    steps:
      - run: ${{ secrets.GITHUB_TOKEN }}
